:root {
  --color-green-primary: #28a458;
  --color-green-secondary: #5ebb82;
  --color-text-dark: #3d3b3b;
  --color-background-light: #f5f0e1;
  --color-shadow: rgba(22, 163, 74, 0.2);
  --color-marron: #8b5e3c;
  --font-size-base: 16px;
  --color-background-white: #ffff;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.produit-section {
  padding: 10px 80px;
}
.produit-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.produit-section h3 {
  color: var(--color-green-primary);
  font-size: 1.5em;
  padding: 0;
}
.produit-section p {
  width: 400px;
}
.produit-grid {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 4em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.produit-card {
  background-color: var(--color-background-white);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 250px;
  height: 300px;
  box-shadow: var(--box-shadow);
  gap: 2px;
  padding: 10px 20px;
}
.produit-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}


.produit-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.produit-image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.produit-text-icon img {
  width: auto;
  object-fit: contain;

}
.promo-cercle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--color-green-primary);
  color: var(--color-background-light);
  padding: 5px 12px;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: bold;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



.produit-text h2 {
  border-radius: 20px;
  width: 80px;
  color: var(--color-text-dark);
  font-size: larger;
  text-align: justify;
  width: 100%;
}

.produit-text-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.produit-card p {
  color: var(--color-green-primary);
  font-size: 16px;
 
}
.quantite-control-group h1{
 text-align: center;
 
}
@media (max-width: 900px) {
  .produit-section {
    padding: 5px 20px 20px 20px;
  }

  .produit-grid {
    padding: 10px 10px;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;
  }

  .produit-card {
    background-color: var(--color-background-white);
   
    border-radius: 20px;

    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-width: 180px;
    max-width: 180px;
    box-shadow: var(--box-shadow);
    gap: 20px;
  }
  .produit-card span {
    top: 10px;
    right: 10px;
    background-color: var(--color-green-primary);
    color: var(--color-background-light);
    padding: 0px 5px;
    border-radius: 25px;
    position: absolute;
    font-weight: bold;
    text-align: justify;
  }
  .produit-text h2 {
    border-radius: 20px;
    width: 80px;
    font-size: 12px;
    color: var(--color-green-primary);
    text-align: justify;
    width: 100%;
  }
  .produit-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
  }
  .produit-card p {
    color: var(--color-green-primary);
    font-size: 12px;
    font-weight: 600;
  }
 .produit-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.produit-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promo-cercle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: var(--color-green-primary);
  color: var(--color-background-light);
  padding: 5px 12px;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: bold;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
}
